name: All Contributors

on:
  workflow_dispatch:
  pull_request:
    types: [opened, closed, reopened]
  issues:
    types: [opened, closed, reopened]

permissions:
  contents: write
  pull-requests: write

jobs:
  add-contributors:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Add contributors
        uses: akhilmhdh/contributors-readme-action@v2.3.6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
